.card{
  width: calc(25% - 22.5px);
  padding: 74px 20px 20px;
  position: relative;
  &__sizes{
    //display: none;
    margin-top: 15px;
    &-title{
      font-weight: 400;
      font-size: 12px;
      color: #414141;
    }
    &-info{
      display: flex;
      align-items: center;
      column-gap: 15px;
      margin: 8px 0 17px;
    }
    &-size{
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      font-weight: 400;
      font-size: 9px;
      color: #414141;
      span{
        font-weight: 400;
        font-size: 9px;
        color: #C4C4C4;
      }
    }
    &-btn{
      font-weight: 400;
      font-size: 13px;
      color: #FFFFFF;
      padding: 13px 40px;
      background: #245462;
    }
  }
  &:hover{
    background: #FFFFFF;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
    //.card__sizes{
    //  display: block;
    //}
  }
  &__fav{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    &:hover{
      transform: scale(1.4);
    }
  }
  &__img{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  &__title{
    font-weight: 500;
    font-size: 16px;
    color: #414141;
  }
  &__category{
    font-weight: 400;
    font-size: 11px;
    color: #414141;
    margin: 6px 0 9px;
  }
  &__price{
    font-weight: 500;
    font-size: 16px;
    color: #414141;
  }
}